<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>
</nav>

    <h2>Edit Student</h2>

    <form method="POST">
        Name: <input type="text" name="name" value="{{ student.name }}"><br><br>
        Mark 1: <input type="number" name="mark1" value="{{ student.marks[0] }}"><br><br>
        Mark 2: <input type="number" name="mark2" value="{{ student.marks[1] }}"><br><br>
        Mark 3: <input type="number" name="mark3" value="{{ student.marks[2] }}"><br><br>

        <input type="submit" value="Update Student">
    </form>

    <br>
    <a href="/students">Back</a>
</body>
</html>
